body{
    padding-top: 0px;
}

.coding-editor-page {
  display: flex;
  /* height: 100vh; */
}

.problem-container {
  flex: 1;
  padding: 1rem;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.problem-container h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.problem-container p {
  font-size: 1rem;
  color: #333;
}

.editor-container {
  flex: 2;
  /* padding: 1rem; */
  overflow-y: auto;
}