.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(135deg, var(--brand-primary-lighter), var(--brand-secondary-lighter));
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
  /* padding-top: 60px; */
}

.navbar-list {
  display: flex;
  /* justify-content: space-between; */
  justify-content: end;
  gap: 1rem;
  align-items: end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  font-size: 1rem;
  font-weight: bold;
}

.navbar-item a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s;
}

.navbar-item a:hover {
  color: #0056b3;
}